[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bouzidi12
[access "refs/for/refs/*"]
	read = group user/bouzidi12
	push = group user/bouzidi12
	label-Code-Review = -2..+2 group user/bouzidi12
	label-Verified = -1..+1 group user/bouzidi12
	rebase = group user/bouzidi12
	removeReviewer = group user/bouzidi12
	submit = group user/bouzidi12
[access "refs/heads/*"]
	read = group user/bouzidi12
	create = group user/bouzidi12
	push = +force group user/bouzidi12
	pushMerge = group user/bouzidi12
[access "refs/tags/*"]
	push = group user/bouzidi12
	push = +force group user/bouzidi12
